
html{
    margin: 0%;
    padding: 0%;
}

body{
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    font-family: "Times New Roman", "sans-serif";
    width: 100%;
    color:  rgb(160, 38, 38);
}

.header{
    text-align: center;
}

.main{
    display: flex;
    flex-direction: row;
}

.left-container{

    width: 25%;
    height: auto;
    background-color: gray;
}

.right-container{
    width: 25%;
    height: auto;
    background-color: gray;
}

.form{
    width: 50%;
}
.service-field{
    display: flex;

}

/* header{
    font-family: "lucida";
    text-align: center;
    padding: 1.2rem;
    width: 50%;
    height: 4rem;
    font-weight: 700;
    color: rgb(109, 30, 30);
    background-color: white;
} */

/* main{

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    justify-items: center;

} */
/* fieldset{
    border: none;
} */
/* html{
    margin: 0%;
    padding: 0%;
}
body{
    display: flex;
    flex-direction: column;
    font-family: "Times New Roman", "sans-serif";
    width: 100%;
    color:  rgb(160, 38, 38);
}
header{
    justify-content: center;
    font-family: "lucida";
    text-align: center;
    padding: 1.2rem;
    width: 50%;
    height: 4rem;
    font-weight: 700;
    color: rgb(109, 30, 30);
    background-color: white;
}
main{
    width: 100%;
    flex-direction: column;
    justify-items: center;

}
form{
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: #D3D3D3;
}
fieldset{
    border: none;
}
.service-field{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 8rem;
}
.service{
    display: inline-block;
    width: 40%;
    padding-left: 2rem;
    padding-right: 2rem;
}
.service > label{
    font-size: 12px;
    color: gray;

}
.service > input{
    width: 100%;
    height: 2rem;
}
.service-use{
    
}
.service-name{
    
    padding-left: 20rem;
}
.check-boxes{
    padding-left: 2rem;
}
.satisfaction > div{
    display: inline-block;
    width: 40%;
}
.expectation > div{
    display: inline-block;
    width: 40%;
}
.recommendation > div{
    display: inline-block;
    width: 40%;
}
.aspect > div{
    display: inline-block;
    width: 40%;
}
.comments{
    display: inline-block;
    width: 80%;
    height: 8rem;
    text-align: start;
}
.submit{
    padding-left: 30rem;
}
.submit > input{
    width: 40%;
    height: 3rem;
    background-color: rgb(131, 123, 123);
    font-weight: 700;
    font-size: 24px;
    color: azure;
} */
